.howto, .group { 
  padding: 1em;
  border: 1px solid var(--divider-color);
}
.howto-title, .group-title { 
  font-weight: bold;
  margin-top: -1.7em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  padding: 0 0.5em;  
  width: fit-content;
  background: white;
}
.howto {
  margin-bottom: 1em;
}
.howto-title {
  font-size: 1.1em;
}
.howto-text {
  display: block;
  color: var(--text-muted);
  font-size: smaller;
}
.group {
  margin-top: 2em;
}
.group-title {
  color: var(--text-muted);
}

.setting-item {
  align-items: flex-start;
  padding: 0.75em 0 0 1em;
  border-top: unset;
}
.setting-item.group-item {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-left: 0!important;
  padding-bottom: 0.25em;
}
.setting-item-info {
  flex: 0 0 200px; /* fixed width for label column */
  margin-top: 5px;
}
.setting-item-control {
  flex: 0 0 auto!important;
  flex-direction: column;
  align-items: flex-start;  
}
.setting-item-control input {
  max-width: 521px; /* fixed width for input column */
}
.setting-item-control small {
  margin-top: -0.5em;
  margin-left: 0.75em;
  color: var(--text-faint);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
}
